.login__label{
    color: var(--color-grey-0);
    font-size: var(--font-size-input);
    font-weight: var(--font-weight-3);
}
.login__input{
    height: 38.504px;
    padding: 0rem 0.8143rem;
    align-items: center;
    border-radius: 0.2006rem;
    border: 1px solid var(--color-grey-2);
    background: var(--color-grey-2);
    color: var(--color-grey-0);
    font-size: var(--font-size-3);
    font-weight: var(--font-weight-3);
    line-height: 1.3233rem;
}